@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --bg-color: #003e1b;
    --btn-color: rgb(52, 168, 52);
    --star-color: rgb(255, 187, 0);
}

.link {
    text-decoration: none;
    color: inherit;
}