.trustedBy{
  background-color: rgb(247, 245, 245);
  height: 100px;
  display: flex;
  justify-content: center;

  .container{
    width: 800px;
    display: flex;
    align-items: center;
    gap: 60px;
    color: rgb(205, 203, 203);
    font-weight: 500;
  }
}