.message {
  display: flex;
  justify-content: center;

  .container {
    width: 1200px;
    margin: 50px;

    .breadcrumbs {
      font-weight: 300;
      font-size: 13px;
      color: grey;
    }

    .messages {
      margin: 30px 0;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      height: 400px;
      overflow: scroll;

      .item {
        display: flex;
        gap: 20px;
        max-width: 600px;
        font-size: 18px;

        &.owner {
          flex-direction: row-reverse;
          align-self: flex-end;

          p {
            border-radius: 20px 0 20px 20px;
            background-color: rgb(68, 192, 68);
          }
        }

        img {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        p {
          padding: 15px;
          background-color: lightgray;
          border-radius: 0 20px 20px 20px;
        }
      }
    }

    .write {
      display: flex;
      align-items: center;
      justify-content: space-between;

      textarea {
        width: 80%;
        height: 100px;
        padding: 10px;
        border: 1px solid lightgray;
        border-radius: 10px;
      }

      button {
        background-color: var(--btn-color);
        padding: 20px;
        color: white;
        font-weight: 500;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        width: 100px;
      }
    }
  }
}